$font-dir: "/fonts/";

@font-face {
  font-family: "Gilroy";
  src: url("#{$font-dir}/Gilroy/Gilroy-Regular.otf");
}

html {
  cursor: none;
}

body {
  font-family: "Gilroy";
  margin: 0;
  color: white;
  overflow: hidden;
}

h1,
h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

#viewport {
  overflow: hidden;
  min-height: 100vh;
  background-size: 400% 400%;
  background: black;
  will-change: background;
  transition: background 0.7s ease-out;
}

#scroll {
  height: 100vh;
  width: 6px;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 4;
  opacity: 0;

  .scroll-bar {
    width: 6px;
    height: 12vh;
    top: 0;
    background: white;
    position: absolute;
    border-radius: 10px;
  }
}

#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 40;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: exclusion;

  #circle1 {
    position: absolute;
    box-shadow: 0 0 1px 0 white inset, 0 0 1px 0 white;
    border-radius: 50%;
    background: #fff;
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid white;
    box-sizing: border-box;
    color: black;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 1px;

    &.default {
      animation: circleDefault 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.1) forwards;
    }

    &.enter {
      animation: cursorEnter 0.5s forwards;
    }

    &.leave {
      animation: cursorLeave 0.3s forwards;
    }
    &.circle-soon {
      animation: circleSoon 0.3s forwards;
    }
    &.circle-seelive {
      animation: circleSeeLive 0.3s forwards;
    }
    &.title-to-default {
      animation: titleToDefault 0.4s forwards;
    }
  }
}

@keyframes cursorEnter {
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid white;
  }
}

@keyframes cursorLeave {
  from {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid white;
  }
  to {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid white;
  }
}

@keyframes circleDefault {
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    background: #fff;
  }
}

@keyframes circleSoon {
  to {
    height: 92px;
    width: 92px;
    margin-left: -46px;
    margin-top: -46px;
    background: #fff;
    padding-top: 36px;
    padding-left: 21px;
  }
}

@keyframes circleSeeLive {
  to {
    height: 110px;
    width: 110px;
    margin-left: -55px;
    margin-top: -55px;
    background: transparent;
    padding-top: 45px;
    padding-left: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #ffffff;
  }
}

@keyframes titleToDefault {
  from {
    height: 92px;
    width: 92px;
    margin-left: -46px;
    margin-top: -46px;
    background: #fff;
    padding-top: 36px;
    padding-left: 21px;
  }
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid white;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0rem;
}

.projects {
  text-align: center;

  ul {
    li {
      mix-blend-mode: difference;
      height: 99px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 99px;
      letter-spacing: 2px;
      text-shadow: white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
        white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px;
      color: black;
      transition: 0.3s color;
      z-index: 1;
      position: relative;
      margin-bottom: 50px;
      user-select: none;

      .title {
        display: inline-block;
        opacity: 0;
        transform: translate3d(0, 100%, 0);

        &:hover {
          color: white;
        }

        &.fadeInUp {
          animation: fadeInUp 1s forwards;
        }
      }
    }
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes scaleTo1 {
  to {
    transform: scale(1);
  }
}

@keyframes opacityTo1 {
  to {
    opacity: 1;
  }
}

@keyframes scaleTo0 {
  to {
    transform: scale(0.6);
    opacity: 0;
  }
}

@keyframes opacityTo0 {
  to {
    opacity: 0;
  }
}
