$font-dir: "/fonts/";

@font-face {
  font-family: "Gilroy";
  src: url("#{$font-dir}/Gilroy/Gilroy-Regular.otf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("#{$font-dir}/Gilroy/Gilroy-UltraLight.otf");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("#{$font-dir}/Gilroy/Gilroy-Thin.otf");
}

html {
  cursor: none;
}

body {
  font-family: "Gilroy";
  margin: 0;
  color: white;
  overflow: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

#viewport {
  overflow: hidden;
  min-height: 100vh;
  background-size: 400% 400%;
  background: black;
  will-change: background;
  transition: background 0.7s ease-out;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}

.transition-page {
  position: absolute;
  background: white;
  z-index: 2;
  width: 100vw;
  height: 0;
  display: grid;
  justify-content: center;

  h1 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 6rem;
    letter-spacing: 1px;
    color: #000000;
    place-self: end;
  }

  p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 6rem;
    letter-spacing: 1px;
    color: #000000;
    align-self: baseline;
    margin: 0;
  }
}

#scroll {
  height: 100vh;
  width: 6px;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 4;
  opacity: 0;

  .scroll-bar {
    width: 6px;
    height: 12vh;
    top: 0;
    background: white;
    position: absolute;
    border-radius: 10px;
  }
}

#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 40;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: exclusion;

  #circle1 {
    position: absolute;
    box-shadow: 0 0 1px 0 white inset, 0 0 1px 0 white;
    border-radius: 50%;
    background: #fff;
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid white;
    box-sizing: border-box;
    color: black;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 1px;

    &.default {
      animation: circleDefault 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.1) forwards;
    }

    &.enter {
      animation: cursorEnter 0.5s forwards;
    }

    &.leave {
      animation: cursorLeave 0.3s forwards;
    }
    &.circle-soon {
      animation: circleSoon 0.3s forwards;
    }
    &.circle-seelive {
      animation: circleSeeLive 0.3s forwards;
    }
    &.circle-concept {
      animation: circleConcept 0.3s forwards;
    }
    &.circle-outdated {
      animation: circleOutdated 0.3s forwards;
    }
    &.circle-private {
      animation: circlePrivate 0.3s forwards;
    }
    &.circle-notalive {
      animation: circleNotalive 0.3s forwards;
    }
    &.title-to-default {
      animation: titleToDefault 0.4s forwards;
    }
  }
}

.welcome-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;

  h1 {
    width: 354px;
    height: 88px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 88px;
    letter-spacing: 1px;
    color: #000000;
    align-self: end;
  }

  p {
    width: 350px;
    height: 92px;
    align-self: baseline;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 92px;
    /* identical to box height, or 287% */

    letter-spacing: 1px;

    color: #000000;
  }

  .circle-scroll {
    position: absolute;
    right: 20%;
    bottom: 20%;
    color: black;

    h6 span {
      position: absolute;
      transform-origin: bottom center;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      width: 30px;
      height: 70px;
      color: #000000;
    }
  }
}

@keyframes cursorEnter {
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid white;
  }
}

@keyframes cursorLeave {
  from {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid white;
  }
  to {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid white;
  }
}

@keyframes circleDefault {
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    background: #fff;
  }
}

@keyframes circleSoon {
  to {
    height: 92px;
    width: 92px;
    margin-left: -46px;
    margin-top: -46px;
    background: #fff;
    padding-top: 36px;
    padding-left: 21px;
  }
}

@keyframes circleConcept {
  to {
    height: 110px;
    width: 110px;
    margin-left: -55px;
    margin-top: -55px;
    background: #fff;
    padding-top: 45px;
    padding-left: 17px;
  }
}

@keyframes circleOutdated {
  to {
    height: 120px;
    width: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #fff;
    padding-top: 50px;
    padding-left: 15px;
  }
}

@keyframes circlePrivate {
  to {
    height: 106px;
    width: 106px;
    margin-left: -53px;
    margin-top: -53px;
    background: #fff;
    padding-top: 43px;
    padding-left: 23px;
  }
}

@keyframes circleNotalive {
  to {
    height: 120px;
    width: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #fff;
    padding-top: 50px;
    padding-left: 15px;
  }
}

@keyframes circleSeeLive {
  to {
    height: 110px;
    width: 110px;
    margin-left: -55px;
    margin-top: -55px;
    padding-top: 45px;
    padding-left: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: black;
    background: white;
  }
}

@keyframes titleToDefault {
  from {
    height: 92px;
    width: 92px;
    margin-left: -46px;
    margin-top: -46px;
    background: #fff;
    padding-top: 36px;
    padding-left: 21px;
  }
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid white;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0rem;
}

.projects {
  text-align: center;

  ul {
    li {
      height: 99px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 5rem;
      line-height: 6rem;
      letter-spacing: 2px;
      text-shadow: white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
        white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px;
      color: black;
      transition: 0.3s color;
      margin-bottom: 100px;

      span {
        user-select: none;
        position: relative;
      }

      .title {
        display: inline-block;
        opacity: 0;
        transform: translate3d(0, 100%, 0);

        &:hover {
          color: white !important;
          opacity: 1 !important;
          z-index: 1;
          position: relative;
          z-index: 20;
          mix-blend-mode: difference;
        }

        &.fadeInUp {
          animation: fadeInUp 1s forwards;
        }
      }
    }
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes scaleTo1 {
  to {
    transform: scale(1);
  }
}

@keyframes opacityTo1 {
  to {
    opacity: 1;
  }
}

@keyframes scaleTo0 {
  to {
    transform: scale(0.6);
    opacity: 0;
  }
}

@keyframes opacityTo0 {
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 8px !important;
  }

  .project-infos .project-info {
    font-size: 2rem;
    z-index: 30;

    .left-image {
      left: 0 !important;
      width: 100vw;
      height: 100vh;
      opacity: 0.4;

      img {
        width: 100%;
        height: auto;
        margin-top: -5vh;
      }
    }

    .right-image {
      display: none;
    }
  }
  .about {
    .row {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
      &.my-expertise-background {
        background-size: 400% 100%;
        background-repeat: no-repeat;
        background-position: -722px -07px;
      }

      .my-expertise-1 {
        .title {
          width: 295px;
          height: 59px;
        }
      }
      .text {
        background-size: 100% !important;
        background-repeat: no-repeat !important;

        &.text-product {
          width: 302.62px;
          height: 50px;
        }

        &.text-ui-ux {
          width: 138.38px;
          height: 42px;
        }

        &.text-designer {
          width: 302.62px;
          height: 49.01px;
          margin-bottom: 113px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .about {
    .row {
      margin-top: 120px !important;

      .my-photo {
        right: 0 !important;
      }

      div.text.text-product {
        margin-top: 49px !important;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }

  .topbar {
    .center-info {
      display: none;
    }
  }

  #cursor {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .brands ul {
    margin-top: 250px !important;
  }

  .about {
    .row {
      .my-expertise-background {
        background-size: 100%;
        background-position: 10px;
      }
      .my-expertise-1 {
        height: unset;
      }
      .my-expertise-2 {
        margin-left: 0;
        margin-top: 0;
      }
      .my-photo {
        img {
          width: 60vw;
        }
      }

      .brands ul {
        margin-top: 250px;
      }

      .text {
        margin-left: 0 !important;
        margin-bottom: 8px !important;
        margin-top: 8px !important;

        &.text-product {
          margin-top: 120px !important;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .project-infos {
    display: block !important;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
  .about {
    .row {
      grid-auto-flow: dense;

      .my-photo {
        position: absolute;
        z-index: 0;
        right: 4rem;
      }

      .about-me {
        margin-left: 0px;
        position: relative;

        .text.text-product {
          margin-left: 0;
        }

        .text.text-designer {
          margin-bottom: 6rem;
        }
      }

      .my-expertise-1 .title {
        margin-left: 0;
      }
    }
  }
}
